$off_white:#fafafa;
$light_grey:#A39D9E;
*{
  box-sizing:border-box;
}

body{
  background-color: $off_white;
}

.container{
  margin:100px auto;
  width:809px;
}

.dark{
    height: 100%;
  margin-left: 165px;
}

.calendar{
  width:400px;
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  color:#363b41;
  display: inline-block;
}

.calendar_header{
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy{
  color:$light_grey;
  font-size:20px;
}
.calendar_plan{
  margin:20px 0 40px;
}
.cl_plan{
  width:100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding:30px;
  color:#fff;
}

.cl_copy{
  font-size:20px;
  margin: 20px 0;
  display: inline-block;
}

.cl_add{
  display: inline-block;
  width: 40px;
  height:40px;
  border-radius:50%;
  background-color: #fff;
  cursor: pointer;
  margin:0 0 0 65px;
  color:#c2c2c2;
  padding: 11px 13px;
}
.calendar_events{
  color:$light_grey;
}
.ce_title{
  font-size:14px;
}

.event_item{
  margin: 18px 0;
  padding:5px;
  cursor: pointer;
  &:hover{
    background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    .ei_Dot{
      background-color: #fff;
    }
    .ei_Copy,.ei_Title{
      color:#fff;
    }
  }
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: $light_grey;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active{
  background-color: #FF8494;
}

.ei_Title{
  margin-left:10px;
  color:#363b41;
}

.ei_Copy{
  font-size:12px;
  margin-left:27px;
}

.dark{
  background-image: linear-gradient(-222deg, #646464, #454545);
  color:#fff;
  .header_title,.ei_Title,.ce_title{
    color:#fff;
  }
}

.addEventButton {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 60px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    position: relative;
}
.addEventButton:hover{
    background-color: salmon;
}

.addEventButton:active{
    background-color: grey;
}

.ChangeEventButton {
    margin: 20px auto;
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
 }



.ChangeEventButton:active{
    background-color: grey;
}

.DeleteEventButton {
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: 2px solid #fff;
    border-radius: 30px;
    outline: none;
    position: relative;
 }


.DeleteEventButton:active{
    background-color: grey;
}